body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightgoldenrodyellow;
}

.screen-circle {
    background-color: rgb(189, 212, 189);
    height: 600px;
    width: 500px;
    border-radius: 20px;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

h3 {
    margin: 3px;
    font-family: 'Dosis', sans-serif;
}

.pets-name {
    border-radius: 3px;
}

/* #playground {
    height: 500px;
    width: 500px;
} */

.pet-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 125px;
}

.pet {
   height: 200px;
   width: 200px;
}

#feed {
    /* position: absolute; */
    display:flex;
    justify-content:space-around;
    /* background-color: coral; */
    height: 50px;   
}

.food .water {
    position: absolute;
    top: 0;
    left: 0;
}

.waterdrop {
    position: absolute;
    height: 60px;
    width: 60px;
    background-image: url("icons8-water-drop-48.png");
    background-repeat: no-repeat;
}


.apple {
    margin: 0 5px 0 0;
    background-image: url("icons8-apple-58.png");
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
}
