body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightgoldenrodyellow;
}

.screen-circle {
    background-color: rgb(189, 212, 189);
    height: 600px;
    width: 500px;
    border-radius: 20px;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

h3 {
    margin: 3px;
    font-family: 'Dosis', sans-serif;
}

.pets-name {
    border-radius: 3px;
}

.pet-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 125px;
}

.pet {
   height: 200px;
   width: 200px;
}

#feed {
    display:flex;
    justify-content:space-around;
    /* background-color: coral; */
    height: 50px;   
}

.waterdrop {
  height: 60px;
  width: 60px;
}


.apple {
    margin: 0 5px 0 0;
}
