body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: lightgoldenrodyellow;
    font-family: 'Dosis', sans-serif;
    cursor: grab;
}

.screen-circle {
    background-color: rgb(198, 214, 198);
    height: 600px;
    width: 500px;
    border-radius: 20px;
}

.top {
    display: flex;
    justify-content: center;
    margin: 10px;
}

h3 {
    margin: 5px;
}

.pets-name {
    border-radius: 3px;
    background-Color: white;
    border: solid 1px lightpink;
}

.pet-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 115px;
    position:relative;
}

.pet {
    position: absolute;
   height: 200px;
   width: 200px;
}

#feed {
    display: flex;
    justify-content: space-between;
}

.waterdropbox {
    display: flex;
}

.waterdrop {
    height: 60px;
    width: 60px;
    background-image: url("icons8-water-drop-48.png");
    background-repeat: no-repeat;
}

.applebox {
    display: flex;
}

.apple {
    margin: 0 5px 0 15px;
    width: 58px;
    height: 58px;
    background-image: url("icons8-apple-58.png");
    background-repeat: no-repeat;
}

.deadImg {
    background-image: ("icons8-skeleton-100.png");
    height: 200px;
    width:200px;
    visibility: hidden;
}

.deadImgVisible {
    background-image: ("icons8-skeleton-100.png");
    height: 200px;
    width:200px;
    visibility: visible;
    position: absolute;
}


cursor: grab;
cursor: move;